<div class="main home">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-6">
				<h1>Your adventures make great Stories</h1>
				<div class="btn">
					<a href="#">Learn More</a>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="supporting">
	<div class="container">
		<h1>Share and revisit every journey</h1>
		<p>Stories automatically creates a digital journal filled with only your best photos</p>
	</div>	
</div>

<div class="secondary">
	<div class="container">
		
	</div>
</div>

<div class="discover">
	<div class="container">
		<h1>Discover Stories</h1>
		<div class="btn">
			<a href="#">Learn More</a>
		</div>
	</div>
</div>